body{
  padding: 0;
  margin: 0;

}
.header header{
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}
.header header h1{
color: #002641;

}
.header header h1::first-letter{
  color: green;

}
.navbar{
  background-color: #002641;
  text-align: center;
  width: 100%;
  height: 120px;
  line-height: 60px;
}
.navbar a{
  text-align: center;
  color: #ffff;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.navbar a:hover{
  border-bottom: 1px solid green;
}
.navbar a b:hover{
  color: green;
}
.className{
  color: green;
  padding: 8px 8px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  
}